/* Responsive CSS */
#contents {
    text-align: center;
}

@media screen and (min-width: 370px) {
    .logo { width: 60px; height: 60px; }
}
  
@media screen and (max-width: 369px) {
    #title { font-size: 25px; }
    #email { font-size: 15px; }
    .logo { width: 40px; height: 40px; }
}

@media screen and (max-width: 230px) {
    #title { font-size: 20px; }
    #email { font-size: 10px; }
    .logo { width: 30px; height: 30px; }
}