* {
  box-sizing: border-box;
  font-family: 'Montserrat';  /* From fontOption*/
}

.App {
  text-align: center;
}

/* First left space of paragraph */
.paragraph-space {
  margin-left: 10px;
}

/* Each component */
#about {
  background-color: none
}
#skills {
  background-color: #ececec;
}
#project {
  background-color: rgb(212, 245, 255);
}

/* common CSS */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px 70px 40px;
}

.content-container {
  margin-bottom: 50px;
  display: block;
  text-align: left;
}

.content-title {
  margin: 0px 0px 60px 0px;
}
.content-text {
  text-align: left;
  max-width: 1000px;
}

/* Responsive CSS */
@media screen and (min-width: 601px) {
  #home-title {
    font-size: 50px;
  }
  #home-content {
    font-size: 30px;
  }
  .section-title {
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
  #home-title {
    font-size: 30px;
  }
  #home-content {
    font-size: 20px;
  }
  #navbar {
    padding: 0
  }
}
